In [10]:
d = {'adminregion': {'id': '', 'value': ''},
 'capitalCity': 'Oranjestad',
 'id': 'ABW',
 'incomeLevel': {'id': 'HIC', 'value': 'High income'},
 'iso2Code': 'AW',
 'latitude': '12.5167',
 'lendingType': {'id': 'LNX', 'value': 'Not classified'},
 'longitude': '-70.0167',
 'name': 'Aruba',
 'region': {'id': 'LCN', 'value': 'Latin America & Caribbean '}}

In [11]:
import sqlite3
conn = sqlite3.connect('test.db')
c = conn.cursor()
c.execute("CREATE TABLE countries (id varchar(3), data json)")

In [13]:
import json
c.execute("insert into countries values (?, ?)",
 [d['id'], json.dumps(d)])
conn.commit()
conn.close()

In [14]:
import pandas as pd

with sqlite3.connect('test.db') as con:
    df = pd.read_sql("SELECT * FROM countries", con=con)

In [15]:
df

    id                                               data
0  ABW  {"adminregion": {"id": "", "value": ""}, "capi...