In [5]:
import pandas as pd
import sqlite3

with sqlite3.connect('../../db/hr_bank_data_db.db') as con:
#     df = pd.read_sql("SELECT * FROM raw_comp_desc", con=con)
#     df = pd.read_sql("SELECT * FROM raw_job_desc", con=con)
    df = pd.read_sql("SELECT * FROM JOB_ANALYSIS", con=con)
#     df = pd.read_sql("SELECT * FROM job_analysis", con=con)
#     df = pd.read_sql("SELECT * FROM job_prim", con=con)
#     query = '''select * from job_prim 
#                 where job_no in (select job_no from job_prim group by job_no having count(1) > 1)'''
#     df = pd.read_sql(query, con=con)

df.head()

Empty DataFrame
Columns: [CRAWL_DATE, JOB_NO, TOTAL_COUNT, SEX, EDU, YEAR_RANGE, WORK_EXP, LANG, MAJOR, SKILL, CERT, UPDATE_DATE]
Index: []

In [50]:
len(df)

0

In [10]:
df['JOB_ANALYSIS_JSON'][1]

'{"sex": {"0": {"sexName": "男", "count": 0, "percent": "0.00"}, "1": {"sexName": "女", "count": 0, "percent": "0.00"}, "update_time": "2020-11-07 02:11:55", "total": 0}, "edu": {"0": {"eduName": "博碩士", "count": 0, "percent": 0}, "1": {"eduName": "大學", "count": 0, "percent": 0}, "2": {"eduName": "專科", "count": 0, "percent": 0}, "3": {"eduName": "高中職", "count": 0, "percent": 0}, "4": {"eduName": "國中(含)以下", "count": 0, "percent": 0}, "5": {"eduName": "不拘", "count": 0, "percent": 0}, "6": {"eduName": "無法判斷", "count": 0, "percent": 0}, "update_time": "2020-11-07 02:11:55", "total": 0}, "yearRange": {"0": {"yearRangeName": "20歲以下", "count": 0, "percent": 0}, "1": {"yearRangeName": "21~25歲", "count": 0, "percent": 0}, "2": {"yearRangeName": "26~30歲", "count": 0, "percent": 0}, "3": {"yearRangeName": "31~35歲", "count": 0, "percent": 0}, "4": {"yearRangeName": "36~40歲", "count": 0, "percent": 0}, "5": {"yearRangeName": "41~45歲", "count": 0, "percent": 0}, "6": {"yearRangeName": "46~50歲", "count": 0, "percent": 0}, "7": {"yearRangeName": "51~55歲", "count": 0, "percent": 0}, "8": {"yearRangeName": "56~60歲", "count": 0, "percent": 0}, "9": {"yearRangeName": "60歲以上", "count": 0, "percent": 0}, "update_time": "2020-11-07 02:11:55", "total": 0}, "exp": {"0": {"expName": "無工作經驗", "count": 0, "percent": 0}, "1": {"expName": "1年以下", "count": 0, "percent": 0}, "2": {"expName": "1~3年 ", "count": 0, "percent": 0}, "3": {"expName": "3~5年", "count": 0, "percent": 0}, "4": {"expName": "5~10年", "count": 0, "percent": 0}, "5": {"expName": "10~15年", "count": 0, "percent": 0}, "6": {"expName": "15~20年", "count": 0, "percent": 0}, "7": {"expName": "20~25年", "count": 0, "percent": 0}, "8": {"expName": "25年以上", "count": 0, "percent": 0}, "update_time": "2020-11-07 02:11:55", "total": 0}, "language": {"update_time": "2020-11-07 02:11:55", "total": 0}, "major": {"update_time": "2020-11-07 02:11:55", "total": 0}, "skill": {"update_time": "2020-11-07 02:11:55", "total": 0}, "cert": {"update_time": "2020-11-07 02:11:55", "total": 0}}'

In [8]:
df['SEARCH_JOB_JSON'][0]

'{"jobType": "0", "jobNo": "11927515", "jobName": "SEO主管", "jobNameSnippet": "SEO主管", "jobRole": "1", "jobRo": "1", "jobAddrNo": "6001001005", "jobAddrNoDesc": "台北市大安區", "jobAddress": "敦化南路2段", "description": "1.把握網站SEO行業的方向，制定公司網站的優化策略，能獨立撰寫SEO方案，提高網站優化效果。\\n2.精通各大搜尋引擎的優化，操作過中大型網站的經驗。\\n3.定期跟蹤、分析、總結SEO效果，為網站整體運營目標提供流量支援，提升網站權重，並有良好的SEO轉化效果。\\n4.進行站內優化、站外優化及內外部連結優化、關鍵字優化、代碼優化、圖片優化、結構優化等。\\n5.關注競爭對手及其他網站相關策略，結合公司相關資訊，提出合理化建議及應對措施。\\n6.熟黑帽手法佳。\\n", "optionEdu": "大學", "period": "00", "periodDesc": "經歷不拘", "applyCnt": "00001", "applyDesc": "0~5人應徵", "custNo": "130000000158860", "custName": "金鴻國際事業有限公司", "coIndustry": "1001001002", "coIndustryDesc": "電腦軟體服務業", "salaryLow": "0000000", "salaryHigh": "0000000", "salaryDesc": "待遇面議", "s10": "10", "appearDate": "20201103", "appearDateDesc": "11/03", "optionZone": "0", "isApply": "0", "applyDate": "", "isSave": "0", "descSnippet": "1.把握網站SEO行業的方向，制定公司網站的優化策略，能獨立撰寫SEO方案，提高網站優化效果。\\n2.精通各大搜尋引擎的優化，操作過中大型網站的經驗。\\n3.定期跟蹤、分析、總結SEO效果，為網站整體運營目標提供流量支援，提升網站權重，並有良好的SEO轉化效果。\\n4.進行站內優化、站外優化及內外部連結優化、關鍵字優化、代碼優化、圖片優化、結構優化等。\\n5.關注競爭對手及其他網站相關策略，結合公司相關資訊，提出合理化建議及應對措施。\\n6.熟黑帽手法佳。\\n", "tags": [], "landmark": "", "link": {"applyAnalyze": "//www.104.com.tw/jobs/apply/analysis/73nbv?channel=104rpt&jobsource=apply_analyze", "job": "//www.104.com.tw/job/73nbv?jobsource=n104bank2", "cust": "//www.104.com.tw/company/1a2x6bldvw?jobsource=n104bank2"}, "jobsource": "", "jobNameRaw": "SEO主管", "custNameRaw": "金鴻國際事業有限公司", "lon": "121.5489881", "lat": "25.0269876"}'

In [27]:
j = {'data': ['\\u8edf\\u9ad4']}

In [21]:
import json

In [22]:
json.dumps(j, )

'{"data": ["\\\\u8edf\\\\u9ad4"]}'

In [8]:
import pandas as pd
import sqlite3

with sqlite3.connect('db/test_db.db') as con:
    df = pd.read_sql("SELECT * FROM COMP_DESC", con=con)
#     df = pd.read_sql("SELECT * FROM JOB_ANALYSIS", con=con)
#     df = pd.read_sql("SELECT * FROM RAW_JOB_DESC", con=con)

df.head()

,CRAWL_DATE,COMP_NO,COMP_NAME,INDUST_NAME,INDUST_CAT,EMP_COUNT_DESC,CAPITAL,COMP_ADDR,COMP_LINK,PROFILE,PRODUCT,WELFARE,MANAGEMENT,NEWS,WELFARE_TAG,LEGAL_TAG,COMP_ADDR_DIST
0,20201107,130000000127052,牧陽能控股份有限公司,光電產業,太陽能發電系統ヽ沼氣生成與發電系統ヽ空氣源熱泵系統ヽ能源監控系統與綠色能源系統整合工程之開發...,27人,8282萬元,台南市東區勝利路118號2樓,http://www.greenshepherd.com.tw/,Green Shepherd Co Ltd -以綠色概念為主期許發展成為綠能界的牧陽(羊)人...,服務項目:\n太陽能電廠系統規劃設計、\n監造施工、維運保養\n家用光電採光罩\n節能熱泵熱...,●休假制度: \n 依勞基法規定。 \n ●完善保險: \n 勞保、健保、退休金提撥、員工團...,,,,,台南市東區
1,20201107,130000000158860,金鴻國際事業有限公司,電腦軟體服務業,電腦軟體服務業,暫不提供,1000萬元,台北市大安區敦化南路2段,,金鴻國際專注於平台維運，卓越的團隊建構最順暢且穩定運作的系統，秉持著突破、創新、積極的態度，...,,考勤類(輪班同仁另計)\n1.\t彈性工時\n2.\t見紅就休\n制度類\n1.\t定期績效...,金鴻國際理念為『三不一沒有』\n「不」框定思想：不先入為主的待人及討論。\n「不」計較年齡：...,,年終獎金、三節獎金/禮品、零食櫃、咖啡吧、結婚禮金、生育津貼、部門聚餐、免費下午茶、伙食津貼,哺乳室、週休二日、家庭照顧假、勞保、健保、陪產假、產假、特別休假、育嬰留停、女性生理假、勞退...,台北市大安區
2,20201107,97311466000,精誠資訊股份有限公司,電腦系統整合服務業,資訊服務業,2000人,26億7000萬元,台北市內湖區瑞光路318號,http://tw.systex.com/,精誠資訊SYSTEX Corporation (台股代號6214) 成立於1997年，是台灣...,服務及解決方案\n 1.\tBig Data解決方案\n 2.\t企業營運智慧管...,精誠資訊擁有完整的員工職涯發展體系規劃，以專業職與管理職雙軌制度，提供員工個別發展及考核計畫...,,https://tw.systex.com/news/latest-news/,,,台北市內湖區
3,20201107,28847204000,台灣樂天市場股份有限公司,網際網路相關業,網際網路相關業,300人,35億7200萬元,台北市中山區民生東路三段49號11樓,https://www.rakuten.com.tw/,日本樂天集團是提供網際網路服務的全球領先者之一，全球佈局涵蓋10大產業:電商﹑信用卡及支付﹑...,台灣樂天市場為電子商務平台，提供「商家」及「消費者」 Online的Shopping Mal...,★ 壽星最大，生日當月爽放生日假一天\n★ 到職第一年就享有8天特休假 (依到職比例計算，第...,1.時時改善，日日精進\n2.貫徹專業精神\n3.假設→執行→驗證→制度化\n4.追求最高的...,台灣樂天徵才 Rakuten Taiwan Careers,生日假、優於勞基法特休、慶生會、特約商店、員工配股、結婚禮金、生育津貼、子女教育獎助學金、年...,家庭照顧假,台北市中山區
4,20201107,22798584000,恒耀工業股份有限公司,其他金屬相關製造業,金屬製造加工(汽車零組件/焊接螺帽),1000人,11億,台南市仁德區新田二街1號,http://www.boltun.com.tw,恒耀工業自創業以來，即秉持著品質第一，客戶優先的理念，建立起『外以開發創新，內以思過自省』的...,汽車螺絲/螺帽、擠壓扣件、沖壓零件、六角突緣螺帽、T形螺帽、汽機車用組合件、盤形華司螺帽、拉...,◆ 獎金 / 禮品類\n 1.年終獎金\n 2.三節...,,,,,台南市仁德區

In [9]:
len(df)

387

In [21]:
with sqlite3.connect('db/test_db.db') as con:
#     df = pd.read_sql("SELECT * FROM JOB_DESC", con=con)
    df = pd.read_sql("SELECT * FROM RAW_JOB_DESC WHERE JOB_NO = '11927515'", con=con)

df.head()

,CRAWL_DATE,JOB_NO,SEARCH_JOB_JSON,JOB_DESC_JSON,JOB_ANALYSIS_JSON
0,20201113,11927515,"{""jobType"": ""0"", ""jobNo"": ""11927515"", ""jobName...","{""data"": {""corpImageRight"": {""corpImageRight"":...","{""sex"": {""0"": {""sexName"": ""男"", ""count"": 0, ""pe..."

In [74]:
with sqlite3.connect('db/test_db.db') as con:
#     df = pd.read_sql("SELECT * FROM JOB_DESC", con=con)
    df = pd.read_sql("SELECT * FROM JOB_DESC WHERE JOB_NO = '11823702'", con=con)

df.head()

,JOB_NO,JOB_ID,JOB_NAME,JOB_LINK,JOB_TYPE,JOB_ROLE,JOB_CAT,APPLY_COUNT,NEED_EMP,SALARY_MIN,...,WORK_PERIOD,VACATION_POLICY,START_WORK_DAY,HIRE_TYPE,DELEGATE_RECRUIT,JOB_ADDR_DIST,LANDMARK_TAG,LON,LAT,APPEAR_DATE
0,11823702,71f86,AI/Python Dev(語意分析/文本分析/語音辨識/圖像辨識/數據分析),https://www.104.com.tw/job/71f86?jobsource=n10...,2,1,Internet程式設計師、通訊軟體工程師、演算法開發工程師,30,2~3人,0,...,日班,依公司規定,不限,0,,台北市內湖區,距捷運港墘站220公尺,121.5752042,25.0781161,20201113

In [71]:
with sqlite3.connect('db/test_db.db') as con:
    statement = "DELETE FROM JOB_ANALYSIS WHERE JOB_NO = '10793920'"
    cur = con.cursor()
    cur.execute(statement)
    con.commit()

In [6]:
with sqlite3.connect('db/hr_bank_data_db.db') as con:
    statement = "DROP TABLE JOB_DESC"
    cur = con.cursor()
    cur.execute(statement)
    con.commit()

OperationalError: no such table: JOB_DESC

In [5]:
import pandas as pd
import sqlite3

with sqlite3.connect('../../db/hr_bank_data_db.db') as con:
    # T_RAW_SEARCH, T_RAW_JOB, T_RAW_JOB_ANALYSIS, T_RAW_COMP
    df = pd.read_sql("SELECT * FROM T_RAW_COMP", con=con)
    
#     query = '''select * from job_prim 
#                 where job_no in (select job_no from job_prim group by job_no having count(1) > 1)'''
#     df = pd.read_sql(query, con=con)

df.head()

,CRAWL_DATE,COMP_NO,JSON_STRING
0,20201227,70565450000,"{""data"": {""custSwitch"": ""on"", ""custName"": ""安碁資..."
1,20201227,20685000000,"{""data"": {""custSwitch"": ""on"", ""custName"": ""臺灣電..."
2,20201227,16313302000,"{""data"": {""custSwitch"": ""on"", ""custName"": ""網際威..."
3,20201227,130000000072800,"{""data"": {""custSwitch"": ""on"", ""custName"": ""大數據..."
4,20201227,130000000104361,"{""data"": {""custSwitch"": ""on"", ""custName"": ""The..."